# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS resource forks
._*

# macOS Finder folder attributes
.Spotlight-V100
.Trashes

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and local settings
*.log
*.sqlite3

#Test files from Aarom
test_enviorment_aaron.py